/fastapienv/
/TodoApp/testdb.db
/TodoApp/todosapp.db
testdb.db
/TodoApp/__pycache__/
/TodoApp/*.pyc
/TodoApp/*.pyo
/TodoApp/*.pyd
/TodoApp/*.db
/TodoApp/*.sqlite
/TodoApp/*.sqlite3
/TodoApp/*.log
/TodoApp/*.egg-info
/TodoApp/*.egg
/TodoApp/.pytest_cache
/TodoApp/.mypy_cache
/TodoApp/.coverage
/TodoApp/.coverage.*
/TodoApp/.hypothesis
/TodoApp/.hypothesis/
/TodoApp/.tox
